body {
  /* background-color: antiquewhite; */
  background-color: azure;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: cadetblue;
}
p {
  font-size: 18px;
}
p::first-letter {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
  color: rebeccapurple;
}
